@import "@web-tech/tailwind-config";
@import "tw-animate-css";

@source "../../../../packages/ui/components/**/*.{ts,tsx}";
@import "./mdx.css";
@import "./animation.css";

body {
  --font-mono: var(--font-jetbrains-mono), monospace;
}

:lang(ko) {
  font-family: var(--font-maru), var(--font-body), sans-serif;
}

:lang(en) {
  font-family: var(--font-body), sans-serif;
}
